// variables
@use "./utilities/variables" as *;

// GLOBAL
.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: none;
    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.1);

    padding: 16px;

    &:hover {
        border: solid 1px #AD8020;
    }
}


a {
    text-decoration: none;
}

.bi {
    font-size: 26px;
    color: $ocre;
}

.tarjeta-fullbg {
    position: relative;
    width: 100%;
    max-width: 360px;

    aspect-ratio: 4 / 3;
    background-size: cover;
    background-position: center;
    border-radius: 7px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 12px;

    h4 {
        font-family: "lato", sans-serif;
        font-weight: 500;
        font-size: 21px;
        color: white;
        z-index: 3;
        text-align: center;
    }

    h6 {
        color: white;
    }
}

.tarjeta-fullbg::before {
    content: "";
    position: absolute;
    inset: 0;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    z-index: 1;

    /* degrada el blur */
    mask-image: linear-gradient(to top,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0.6) 40%,
            rgba(0, 0, 0, 0) 70%);
    -webkit-mask-image: linear-gradient(to top,
            rgba(0, 0, 0, 1) 0%,
            rgba(0, 0, 0, 0.6) 40%,
            rgba(0, 0, 0, 0) 70%);
}

.tarjeta-fullbg::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.7) 0%,
            rgba(0, 0, 0, 0.4) 40%,
            rgba(0, 0, 0, 0) 70%);
    z-index: 2;
}

// header
header {
    padding: 16px;
    left: 0;
    right: 0;

    border: 1px solid rgba(255, 255, 255, 0.3);

    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.3);
    position: fixed;

    z-index: 1111;

    .top {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;

        h4 {
            font-family: "Lato", sans-serif;
            font-size: 9px;
            font-weight: 800;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: $text;
        }

        h2 {
            font-family: "Lato", sans-serif;
            font-size: 32px;
            font-weight: 600;
            color: $ocre;
        }
    }

    .bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: left;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 6px;
            padding: 0;
            margin: 0;

            li {
                list-style: none;

                a {
                    color: #33312B;
                    text-decoration: none;
                    display: inline-flex;
                    align-items: center;
                    font-size: 16px;

                    span {
                        color: $ocre;
                    }
                }
            }
        }
    }
}

// MAIN
main {
    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 160px 16px 34px 16px;

        h1 {
            font-family: "Lato", sans-serif;
            font-size: 34px;
            font-weight: 600;
            color: $ocre;
        }

        h2 {
            font-family: "Lato", sans-serif;
            font-size: 26px;
            font-weight: 600;
            color: $text;
        }
    }

    .principios {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background: linear-gradient(135deg, $violeta, #581B3F);

        .row {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: white;
            padding: 55px 16px;

            img {
                width: 50%;
                filter: brightness(0) invert(1);
                display: block;
                margin: 0 auto;
            }

            p {
                font-size: 16px;
                line-height: 26px;
            }

            a {
                font-size: 16px;
                line-height: 26px;
                color: white;
                font-weight: 600;
                text-decoration: none;
            }
        }
    }
}

// ICON GRID
.grid-dosxtres {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
    text-align: center;

    padding: 34px 16px 16px 16px;

    h4 {
        font-family: "Lato", sans-serif;
        font-size: 26px;
        font-weight: 600;
        color: $text;
    }
}

.grid-uno {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 16px;

    h4 {
        font-family: "Lato", sans-serif;
        font-size: 26px;
        font-weight: 600;
        color: $text;
    }

}

.card:hover {
    border: solid 1px #AD8020;
}


// CARACTERIZACIÓN TÉCNICA
.caracterizacion-tecnica {
    .portada {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 55px 16px 34px 16px;
        text-align: center;

        h2 {
            font-family: "Lato", sans-serif;
            font-size: 26px;
            font-weight: 600;
            color: $ocre;
        }
    }

    .content-puntodos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 16px;

        text-align: left;

        h3 {
            font-family: "Lato", sans-serif;
            font-size: 26px;
            font-weight: 600;
            color: $text;
        }

        p {
            font-size: 16px;
            line-height: 26px;
        }
    }
}


// CLIMATOLOGÍA

.climatologia {
    padding: 34px 16px 34px 16px;
    text-align: center;

    h3 {
        font-family: "Lato", sans-serif;
        font-size: 26px;
        font-weight: 600;
        color: $ocre;

    }

    .ambos {
        gap: 16px;
    }
}

// INFRAESTRUCTURA OPERATIVA
.infraestructura {
    padding: 34px 16px 34px 16px;


    h2 {
        font-family: "Lato", sans-serif;
        font-size: 26px;
        font-weight: 600;
        color: $ocre;
        text-align: center;
    }

    .planta {
        width: 100%;
        aspect-ratio: 1 / 1;
    }

}

.bg-corral {
    background-image: url("../img/corrales-mangas.webp");
    background-size: cover;
    background-position: center;

    border-radius: 7px;
    overflow: hidden;

    padding: 16px;
    min-height: 180px; // 🔥 CLAVE

    display: flex;
    align-items: flex-end; // opcional: texto abajo
}


h6 {
    font-family: "Lato", sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: white;
    z-index: 3;
}



// ACCESO
.acceso {
    height: 100vh;
    background-image: url("../img/drone-estancia.jpg");
    background-size: cover;
    background-position: left;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 16px;

    .acceso::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(180deg,
                rgba(0, 0, 0, 0.6) 0%,
                rgba(0, 0, 0, 0.2) 50%,
                rgba(0, 0, 0, 0.7) 100%);
        z-index: 1;
    }

    h2 {
        font-family: "Lato", sans-serif;
        font-size: 34px;
        font-weight: 600;
        color: white;
    }

    .carta {
        padding: 16px;
        background-color: rgba(5, 5, 5, 0.5);
        border-radius: 7px;
        color: white;

        h3 {
            color: white;
        }
    }
}

// INFRAESTRUCTURA HABITACIONAL

.inf-hab {
    padding: 34px 16px 34px 16px;
    text-align: center;
    gap: 16px;

    h2 {
        color: $ocre;
        font-family: "Lato", sans-serif;
        font-size: 34px;
        font-weight: 600;
    }


}

.carta {
    padding: 16px;
    background-color: white;
    border-radius: 7px;
    color: $text;

    h3 {
        color: $text;
        font-family: "Lato", sans-serif;
        font-size: 26px;
        font-weight: 600;
    }

    p {
        font-family: "Lato", sans-serif;
        font-size: 16px;
        line-height: 26px;
        color: $text;
        text-align: center;
    }
}

// CONCLUSIONES
.conclusion {
    padding: 34px 16px 34px 16px;
    text-align: center;
    background: linear-gradient(135deg, $violeta, #581B3F);

    h2 {
        color: white;
        font-family: "Lato", sans-serif;
        font-size: 34px;
        font-weight: 600;
    }

    .carta {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 16px;

        h5 {
            color: white;
            font-family: "Lato", sans-serif;
            font-size: 26px;
            font-weight: 600;
        }

        p {
            font-family: "Lato", sans-serif;
            font-size: 16px;
            line-height: 26px;
            color: white;
            text-align: center;
        }
    }

    h5 {
        color: white;
        font-family: "Lato", sans-serif;
        font-size: 26px;
        font-weight: 600;
        padding-top: 21px;
    }

    .conclusion-fin {

        .planta {
            padding: 16px;
        }

        .bg-mapa {
            background-image: url("../img/drone-estancia.jpg");
            background-size: cover;
            background-position: center;
            border-radius: 7px;
            overflow: hidden;
            padding: 16px;

            h6 {
                color: white;
                font-family: "Lato", sans-serif;
                font-size: 26px;
                font-weight: 600;
                z-index: 3;
            }
        }

        .bg-fin {
            background-image: url("../img/drone-estancia.jpg");
            background-size: cover;
            background-position: center;
            border-radius: 7px;
            overflow: hidden;
            padding: 16px;

            h6 {
                color: white;
                font-family: "Lato", sans-serif;
                font-size: 26px;
                font-weight: 600;
                z-index: 3;
            }
        }
    }
}

.analisis-fin {
    padding: 34px 16px 34px 16px;
    text-align: center;

    h2 {
        color: $ocre;
        font-family: "Lato", sans-serif;
        font-size: 34px;
        font-weight: 600;
    }

    p {
        font-family: "Lato", sans-serif;
        font-size: 16px;
        line-height: 26px;
        color: $text;
        text-align: center;
    }

    article {

        h4 {
            padding-top: 21px;
            font-family: "Lato", sans-serif;
            font-size: 21px;
            font-weight: 600;
            color: $violeta;
        }
    }
}


// DESPLEGABLE 

h2.faqs {
    font-family: "Lato", sans-serif;
    font-size: 21px;
    font-weight: 600;
    color: $ocre;
    text-align: center;
}

// FAQS / ACCORDION
.accordion {
    padding: 16px;
}

// ITEM
.accordion-item {
    background-color: transparent;
    border: none;
    margin-bottom: 1px;
}

// HEADER
.accordion-header {
    border-radius: 7px;
    overflow: hidden;
}

// BOTÓN (PREGUNTA)
.accordion-button {
    background-color: $marron;
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 600;

    padding: 16px;
    border-radius: 7px;

    box-shadow: none;

    &:focus {
        box-shadow: none;
        border-color: $ocre;
    }
}

// BOTÓN ABIERTO
.accordion-button:not(.collapsed) {
    background-color: $ocre;
    color: white;
    border-color: $ocre;
}

// FLECHA
.accordion-button::after {
    filter: brightness(0) invert(1);
}

// FLECHA CUANDO ESTÁ ABIERTO
.accordion-button:not(.collapsed)::after {
    filter: brightness(0) invert(1);
}

// CUERPO (RESPUESTA)
.accordion-collapse {
    border-radius: 0 0 7px 7px;
    overflow: hidden;
}

.accordion-body {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;

    padding: 16px;
    font-size: 15px;
    line-height: 26px;
    color: $text;

    p {
        margin-bottom: 8px;
    }
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 55px 16px;
    text-align: center;

    background: linear-gradient(180deg, $violeta, #360e25);

    img {
        width: 122px;
        filter: brightness(0) invert(1);
    }

    h4 {
        font-family: "Lato", sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: white;
    }

    h3 {
        font-family: "Lato", sans-serif;
        font-size: 21px;
        font-weight: 600;
        color: white;
    }

    h2 {
        font-family: "Lato", sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: white;
    }
}