// variables
@use "../utilities/variables" as *;

.modal {
    z-index: 1112;
}

.modal i {
    color: #AD8020;
    vertical-align: middle;
    font-size: 34px;
    margin-right: 3px;
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    h4 {
        font-weight: 300;
        margin: 0;

        display: flex;
        align-items: center;
    }
}

.modal-title {
    display: flex;
    align-items: center;
}

.modal-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.modal-footer button {
    background-color: transparent;
    color: #33312B;
    font-family: "lato";
}

.modal-footer button:hover {
    background-color: #33312B;
    color: white;
    font-family: "lato";
}

.modal-footer img {
    width: 80px;
}