// variables
@use "../utilities/variables" as *;

.ganaderia {
    padding: 0 16px;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    h1 {
        font-family: lato;
        font-weight: 700;
        font-size: 2.5rem;
        color: $ocre;
    }

    h3 {
        font-family: "Lato", sans-serif;
        font-size: 12px;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $text;
    }
}

.ganaderia-r {
    padding: 0 16px;
}

.fodix-row {
        padding-top: 34px;
        padding-bottom: 84px;
        padding-left: 250px;
            display: grid;
            grid-template-rows: repeat(4, 1fr);
            gap: 25px;
            text-align: left;
            color: white;
            margin: 25px;
            width: calc(100% - margin);
            

            div {
                min-width: 0;
                padding: 16px;
                border-radius: 12px;
                box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
                background-color: #352D2C;
            }

            ul li {
                list-style: none;
                font-size: 16px;
                line-height: 26px;
            }
        }